/************ Containers ************/
.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-inline: 2rem;
}

.projects-container {
  gap: 1rem;
  height: 40rem;
  padding: 2rem 0;
  overflow-y: scroll;
  align-items: center;
}

.project-card {
  display: grid;
  grid-template-columns: 3fr 7fr;

  max-width: 80%;
  padding: 1rem;
  gap: 2rem;

  border-radius: 15px;
  border: 2px black solid;
  box-shadow: 0 1px 0 #777;
}

.project-info-container {
  gap: 1rem;

  padding: 2rem 0 0 4rem;
}

.bullet-container {
  display: flex;
  gap: 0.8rem;
  padding-bottom: 1.8rem;
}

/************ Title text ************/
.project-header {
  grid-column: 1/-1;
  border-bottom: 1px #ccc solid;
  padding-bottom: 2rem;
  justify-self: center;
  width: 90%;
}

.project-title {
  font-size: 2.4rem;
  text-align: center;
}

.project-subtitle {
  font-size: 1.6rem;
  font-weight: bold;
}

/************ Regular text ************/
.small-text {
  font-size: 1.5rem;
}

.loading {
  font-size: 2.4rem;
  text-align: center;
}

.languages,
.links {
  font-size: 1.8rem;
}

.languages {
  line-height: 0;
}

.links {
  text-decoration: underline;
}

.description {
  font-size: 1.6rem;
}

/************ General ************/

.flex {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.gif {
  width: 100%;

  padding: 1rem 0;
  align-self: center;
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  width: fit-content;
}

.dropdown-icon {
  width: 25px;
  height: 25px;
}

.bullet-dropdown-closed {
  height: 0;
  opacity: 0;
  transition: all 0.5s;

  overflow: hidden;
}

.bullet-dropdown-open {
  height: 10rem;
  opacity: 1;
  transition: all 0.5s;
}

.li {
  list-style: square;
  margin-bottom: 10px;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #ccc;
  border-radius: 100vh;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 100vh;
}
