@keyframes falling {
  0% {
    top: -10%;
  }

  20% {
    transform: translateX(60px) rotate(45deg);
  }

  40% {
    transform: translateX(10px) rotate(90deg);
  }

  60% {
    transform: translateX(-30px) rotate(180deg);
  }

  80% {
    transform: translateX(-10px) rotate(225deg);
    opacity: 1;
  }

  100% {
    top: 100%;
    transform: translateX(10px) rotate(270deg);
    opacity: 0;
  }
}

.leaf-container {
  overflow: none;
}

.leaf {
  position: absolute;
  top: -30%;
  left: 10%;

  width: 7%;
  z-index: 0;
}

.leaf1 {
  left: 10%;
  animation: falling 7s linear infinite;
}

.leaf2 {
  left: 30%;
  animation: falling 6s linear infinite;
  animation-delay: 3s;
}

.leaf3 {
  left: 70%;
  animation: falling 5s linear infinite;
  animation-delay: 1s;
}

.leaf4 {
  left: 80%;
  animation: falling 6s linear infinite;
  animation-delay: 2s;
}
