.namecard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.occupation-container {
  padding: 0.5rem 2rem;
  background-color: #f3a000;
}

.logo-container {
  display: flex;
  gap: 4rem;
  margin-top: 2rem;
  padding: 0;
}

.lang-container {
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.title,
.occupation {
  font-family: Montserrat;
}

.title {
  color: #481f0f;
  font-weight: 800;
  letter-spacing: -4px;
  margin-top: auto;
}

.occupation {
  color: white;
  text-shadow: 1px 1px #333;
  letter-spacing: -1px;
  font-size: 3.6rem;
}

.logo {
  height: 5rem;
  width: 5rem;
}

.languages {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  line-height: 0;
  color: #26180d;
}
