.filter {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  font-size: 1.4rem;
}

.label {
  padding-bottom: 0.2rem;
}

select {
  font-size: inherit;
  font-family: inherit;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
}
