.confirmation-modal {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  border: 1px #333 solid;
  border-radius: 15px;
  background-color: #f8f0e3;
  padding: 3rem;

  gap: 1rem;
  width: 75%;

  z-index: 2;
}

.btn {
  background-color: rgba(0, 0, 0, 0);
  font-family: inherit;
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: white;
  border-radius: 7px;

  align-self: center;
}

.btn:hover {
  background-color: #f2e4ce;
}
