.contact-form {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  width: 60%;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  margin: 0 auto;

  border: solid 1px #111;
  border-radius: 15px;
  background-color: lightgrey;
}

.close-icon {
  position: fixed;
  top: 4%;
  right: 2%;
  height: 30px;
  cursor: pointer;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  font-size: 1.8rem;

  width: 100%;
  z-index: 1;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.two-col {
  grid-column: 1/-1;
}

.input {
  font-size: 1.8rem;
  padding: 0.8rem;
}

.btn {
  background-color: rgba(0, 0, 0, 0);
  font-family: inherit;
  font-size: inherit;
  padding: 1rem 2rem;
  grid-column: 1/-1;
  cursor: pointer;
  background-color: white;
}

.btn:hover {
  background-color: #666;
}
