.form-container {
  width: 80%;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  width: 100%;
  z-index: 1;
}

.two-col {
  grid-column: 1/-1;
}

.input {
  padding: 0.8rem;
  border-radius: 7px;
}

.btn {
  background-color: rgba(0, 0, 0, 0);
  font-family: inherit;
  font-size: inherit;
  padding: 1rem 2rem;
  grid-column: 1/-1;
  cursor: pointer;
  background-color: white;
  border-radius: 7px;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #f2e4ce;
}
