@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

nav {
  position: fixed;
  top: 2%;
  right: 2%;

  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  max-width: fit-content;
  padding-top: 1rem;
}

.navbar {
  background-color: rgba(255, 255, 255, 1);
  border: #999 solid 1px;
  border-radius: 15px;
}

.open-menu {
  margin-top: 0;
  height: fit-content;
  width: fit-content;
  line-height: 1.5;
  font-size: 2.4rem;
  animation: fadeIn 0.2s linear;
  text-align: end;
}

.close-menu {
  animation: fadeIn 0.2s reverse;
}

.menu-btn {
  position: relative;
  height: 50%;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.menu-btn:hover {
  background-color: rgba(0, 0, 0, 0.08);
  transition: all 0.3s;
}

.to-top {
  position: fixed;
  bottom: 2%;
  left: 2%;

  display: flex;
  flex-direction: column;
  text-align: center;

  max-width: fit-content;
  padding: 1rem;
  border: #777 solid 1px;
  background-color: rgba(255, 255, 255, 0.9);
}

.arrow {
  width: 20px;
  height: 20px;
}
