.a {
  color: #80502a;
  text-decoration: underline;
  transition: all 0.3s;
}

.a:hover {
  cursor: pointer;
  transition: all 0.3s;
}

.page-nav {
  border: none;
  background-color: inherit;
  font-size: 2.4rem;
  color: #664022;
  cursor: pointer;
  transition: all 0.3s;
}

.page-nav:hover,
.a:hover {
  color: #997355;
}
