@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif, "Montserrat", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 7.8rem;
}

h1,
h2,
h3,
h4,
.subtitle {
  line-height: 1;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  height: 10rem;
}

.section {
  padding: 0 2rem;
  margin-top: 2rem;
  width: 100%;
  height: 100%;
}

.page-header {
  font-size: 4.8rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 1rem;
  align-self: center;
}

.subtitle {
  font-size: 4.8rem;
  font-weight: bold;
}

.text {
  font-size: 1.8rem;
}

.icon {
  height: 25px;
  width: 25px;
}

.fadeIn {
  animation: fadeIn 0.7s linear;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
